#root {
    margin: 0 auto;
    text-align: center;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar-item {
    cursor: pointer;
    margin-bottom: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.navbar {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name {
    font-weight: bold;
}

.profile-settings {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.settings-icon {
    font-size: 20px;
    cursor: pointer;
}